@import "./theme-variables.css";

*{
    font-family: 'Encode Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background: var(--background);
}

body{
    background-color: var(--background)!important;
}


.card{
    flex-direction: row!important;
    box-shadow: var(--box-shadow) ;
}

.card-body {
    padding: 0!important;
}

.row{
    --bs-gutter-x: 0!important;
    padding-left: 0!important;
    padding-left: 0!important;
}





.head{
    padding: 2% 0 0;
    margin: 0 4%;
    width: 300px;
}

.head .heading{
    text-align: right;
    color:var(--primary-color);
    font-family: 'Encode Sans';
    font-size: 52px;
    padding-bottom: 4px;
    padding: 30px 0em 5px 88px;/*medium 52 azul oscuro*/
    text-transform: none;
}

.head .line{
    width: 425px;
    height: 4px;
    background: var(--secondary-color);
}

.btn{
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;

    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    background: var(--secondary-color);
    cursor: pointer;
    padding: 16px 48px;
}

.btn:hover{
    background: var(--secondary-color);
    letter-spacing: .1rem;
}

header{
    top:0; left: 0; right:0;
    padding:0.3rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    border-bottom: var(--secondary-color) solid 1px;
}

header .logo{
    color:var(--primary-color);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--secondary-color);
}

header .navbar a{
    font-size: 1.7rem;
    padding:.5rem 1.5rem;
    color: white;
    font-weight: 500;
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
}

header .config{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    flex-direction: column;
}
header .billetera{

}

header .config button{
    font-size: 1.5rem;
    color: white;
    background: transparent;
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    -webkit-box-shadow: 0 0 0 1px #80CCDD;
    box-shadow: 0 0 0 1px #80CCDD;

    background: #132938;
    padding: 4px 16px;
    margin: 16px;

}

header .config button:hover {
    font-size: 1.5rem;
    color: #122938;
    background: transparent;
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    -webkit-box-shadow: 0 0 0 1px #132938;
    box-shadow: 0 0 0 1px #132938;

    background: #132938;
    padding: 4px 16px;
    margin: 16px;
    font-weight: 500;

}


.onoffswitch {
    margin: 1rem 0 0;
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 26px; padding: 0; line-height: 26px;
    border: 2px solid #80CCDD; border-radius: 26px;
    background-color: #80CCDD;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 26px; margin: 0px;
    background:  #132938;
    position: absolute; top: 0; bottom: 0;
    right: 34px;
    border: 2px solid #80CCDD; border-radius: 26px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #80CCDD;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #80CCDD;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}




.marketplace{
    margin: 4%;
    min-height: 60vh;
    display: flex;
}

.marketplace img{
    box-shadow: -25px -25px 0px 3px var(--image-background);
    -webkit-box-shadow: -25px -25px 0px 3px var(--image-background);
    -moz-box-shadow: -25px -25px 0px 3px var(--image-background);

    -webkit-border-top-right-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
    -moz-border-radius-topright: 32px;
    -moz-border-radius-bottomleft: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.line-border-right{
    border-right: var(--secondary-color) solid 4px;
}









.footer .box-container {
    padding: 2% 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #132938;
}

.footer .box-container .box h3 {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    color: white;
}

.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: white;
}

.footer .box-container .box a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.footer .box-container .box form {
    max-width: 90rem;
    padding: 1.5rem;
    margin: 0 auto;
}

.footer .box-container .box form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .box-container .box form .inputBox .input {
    width: 49%;
}

.footer .box-container .box form .inputBox .input span {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.footer .box-container .box form .inputBox .input input {
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;

    padding: 1rem;
}
.footer .box-container .box form .inputBox .input textarea {
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;

    padding: 4%;
}

.footer .box-container .box form .inputBox .input input,
.footer .box-container .box form .inputBox .input textarea {
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.footer .box-container .box form .inputBox .input input:focus,
.footer .box-container .box form .inputBox .input textarea:focus {
    border: 0.1rem solid var(--green);
}

.footer .box-container .box form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}

.footer .box-container .box .btn{
    display: flex;
    margin: 2rem auto;

    width: 60%;
    max-width: 400px;
    

    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;

    margin-top: 1rem;
    font-size: 1.7rem;
    color: white;
    background: var(--secondary-color);
    cursor: pointer;
    padding: 12px 48px;

    justify-content: center;
}

.footer .box-container .box .btn:hover{
    background: var(--secondary-color);
    letter-spacing: .1rem;
}


@media (max-width:990px) {
    .line-border-right{
        border-right: none;
    }
}

.titulo3{
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    
    color: var(--title-color);
}

.per-night{
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
    color: var(--title-color);
}

.Casa{
    font-family: 'Encode Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    
    color: var(--title-color);
}

.icons{
    width: 20px;
    height: 20px;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    margin-left: -24px;
}
