*{
    font-family: 'Encode Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body{
    background: url('../images/home2.png') center no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100vw;
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    --bs-gutter-x: 0;
    padding-left: 0;
    padding-left: 0;

    
    margin: 0.8rem 0!important;
}

.margin-y{
    margin: 4rem 0;
}

.button{
    width: 240px;
    border: 3px solid #80CCDD;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6px 0;
    
    cursor: pointer;

    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.home img{  
    height: calc(140px + 10vh);
    object-fit: cover;
}

.home a{
    color: white;
    font-size: 3.5rem;
}

